@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Lato:wght@400;900&family=Playfair+Display+SC:wght@400;700;900&family=Ubuntu:wght@300;400;700&display=swap');
$blue:#1476FF;


body{
	font-family: 'Inter';
}


.container{
	display: flex;
	flex-direction:column;
	align-items: center;
	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 6vh;
		min-height: 40px;
		width: 80vw;
		margin-top: 2vh;
		margin-bottom: 6vh;
		@media (max-width: 530px){
			height: 4vh;
		}
		.header_logo{
			
		}
		.header_buttons{
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: flex-end;
			height: 100%;
			align-items:center;

			.header_sms-num{
				background: $blue;
				border-radius: 50%;
				display: flex;
				align-items: center;
				height: 1.5vw;
				width: 1.5vw;
				min-height: 10px;
				min-width: 10px;
				margin:0px 15px 0px 15px;
				@media (max-width: 530px){
					height: 3vw;
					width: 3vw;
				}
				p{
					text-align: center;
					color: white;
					width: 100%;
					font-size: 1vw;
					margin-top:0.5px;
					@media (max-width: 530px){
							font-size: 2vw;
						}
				}
			}
			.header_link-pages{
				font-size: 14px;
				font-weight: 700;
				max-width: 200px ;
				margin:0px 15px 0px 15px;
				@media (max-width: 530px){
					font-size: 10px;
				}
			}
			.header_button_1{
				background:white;
				height: 100%;
				width: 35%;
				margin:0px 15px 0px 15px;
				max-width: 200px ;
				button{
					background:white;
					border-radius:48px;
					border:1px solid #E9EAF3;
					box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
					width: 100%;
					height: 100%;

					p{
						font-size: 14px;
						font-weight: 700;
						@media (max-width: 530px){
							font-size: 10px;
						}
					}
				}
			}
			.header_button_2{
				background:white;
				height: 100%;
				width: 35%;
				max-width: 200px ;
				button{
					background:$blue;
					border-radius:44px;
					border:1px solid #E9EAF3;
					box-shadow: 0px 4px 10px rgba(2, 87, 251, 0.2);
					width: 100%;
					height: 100%;

					p{
						font-size: 14px;
						font-weight: 700;
						color: white;
						@media (max-width: 530px){
							font-size: 10px;
						}
					}
				}
			}
		}
	}
	.preview{
		display: flex;
		width: 100%;
		justify-content: center;
		.preview_body{
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;
			height: 80vh;
			align-items:center;
			@media(max-width:850px){
				flex-direction: column;
				height: 50vh;
			}
			.preview_text-side{
				height: 45%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				//align-items:center;
				margin-bottom: 3vh;
				margin-left: 7vw;
				width: 45%;
				@media(max-width: 850px){
					margin: 0px;
					width: 100%;
					height: 35%;
				}
				@media(max-height: 600px){
					margin: 10%;
					width: 30%;
					height: 100%;

				}
				.preview_title{
					font-size: 3.86vw;
					font-weight: 700;
					text-align: center;
					@media(max-width: 850px){
						font-size: 20px;
					}
				}
				.preview_subtitle{
					color: #6F7182;
					font-size: 16px;
					text-align: center;
					@media(max-width:850px){
						font-size: 18px;
					}

				}
				.preview_buttons{
					display: flex;
					flex-direction: row;
					justify-content: center;
					height: 7vh;
					min-height: 30px;
					width: 80%;
					@media(max-width: 1300px){
						width: 100%;
					}
					@media(max-width: 850px){
						width: 100%;
					}
					.preview_button_2{
						background:white;
						height: 100%;
						width: 45%;
						max-width: 200px ;
						button{
							background:$blue;
							border-radius:44px;
							border:1px solid #E9EAF3;
							box-shadow: 0px 4px 10px rgba(2, 87, 251, 0.2);
							width: 100%;
							height: 100%;

							p{
								font-size: 16px;
								font-weight: 700;
								color: white;
								@media(max-width: 850px){
									font-size: 20px;
								}
							}
						}
					}
					.preview_button_1{
						background:white;
						height: 100%;
						width: 47%;
						//margin:0px 15px 0px 15px;
						max-width: 240px;
						display: flex;
						justify-content: flex-end;
						button{
							background:white;
							border-radius:48px;
							border:1px solid #E9EAF3;
							box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
							width: 100%;
							height: 100%;
							max-width: 200px;
							p{
								font-size: 16px;
								font-weight: 700;
								@media(max-width: 850px){
									font-size: 20px;
								}
							}
						}
					}
				}
			}
			.preview_photo-side{
				background:url(../content/preview/windows.svg) 100% 50%/ contain no-repeat;
				display: flex;
				justify-content: center;
				width:55%;
				height: 100%;
				align-self:center;
				@media(max-width: 850px){
					width: 100%;
					height: 60%;
				}
				@media(max-height: 600px){
					width: 30%;
					height: 100%;
				}
				.preview_rectangle{
					width: 70%;
					display: flex;
					justify-content: center;
					align-items:center;
					background:url(../content/preview/rectangle.svg) 50% no-repeat;
					background-size:42vh;
					height: 90%;
					margin-left:5vw ;
					@media(max-width: 850px){
						width: 70%;
						transform: scale(0.7);
						margin-left: 2vw;
					}
					img{
						width: 17vh;
						margin: 0px 0px 0.8vw 3vh;
						@media(max-width: 850px){

						}
					}
				}
			}
		}
	}
	.kit{
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 5vh;
		height: 170vh;
		@media(max-width: 1250px){
			margin-top:0vh ;
			height: 140vh;
		}
		@media(max-width: 992px){
			margin-top:0vh;
			height: 150vh;
		}
		.kit_body{
			display: flex;
			flex-direction: column;
			align-items:center;
			justify-content: space-around;
			width: 80%;
			height: 100%;
			.kit_title{
				height: 7%;
				display: flex;
				align-items:center;
				@media(max-width:1250px){
					height: 10%;
				}

				p{
					font-weight: 700;
					font-size: 40px;
					text-align: center;
					line-height: 60px;
					@media(max-width: 850px){
						font-size:30px;
						line-height: 35px;
					}
				}
			}
			.kit_cards{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items:center;
				width: 60%;
				height: 10%;
				flex-wrap: wrap;
				@media(max-width: 1250px){
						height: 10%;
						width: 100%;
				}
				@media(max-width: 850px){
						height: 7%;
						width: 100%;
				}
				.kit_card{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items:center;
					width: 30%;
					min-width: 100px;
					height: 80%;
					border-radius:20px;
					border: 1px solid #E9EAF3;
					box-shadow: 0px 2px 10px rgba(25, 93, 194, 0.07);
					@media(max-width: 1250px){
						justify-content: center;
						height: 100%;
					}
					@media(max-width: 850px){
						height: 80%;
					}
					.kit_card-img{
						width: 10%;
						@media(max-width:1250px){
							display: none;
						}
					}
					.kit_card-txt{
						display: flex;
						flex-direction: column;
						width: 50%;
						p{
							text-align: left;
							&:nth-child(1){
								font-weight: 700;
								font-size: 2vw;
								@media(max-width:1250px){
									font-size: 50px;
									text-align: center;
								}
								@media(max-width: 850px){
									font-size: 30px;
								}
							}
							&:nth-child(2){
								font-size:1vw;
								@media(max-width:1250px){
									font-size: 20px;
									text-align:center;
								}
								@media(max-width: 850px){
									font-size: 15px;
								}
							}
						}
					}
				}
			}
			.kit_layouts{
				display: flex;
				flex-direction: row;
				align-items:center;
				overflow: hidden;
				width: 100%;
				margin-top: 3vh;
				border-radius:20px;
				border: 1px solid #E9EAF3;
				box-shadow: 0px 2px 5px rgba(25, 93, 194, 0.07);
				height: 35%;
				justify-content: flex-end;
				margin-bottom: 3vh;
				@media(max-width:1250px){
					height: 28%;
				}
				@media(max-width:992px){
					flex-direction: column-reverse;
					width: 90%;
					height: 40%;
				}
				@media(max-width:772px){
					width: 98%;
				}
				.kit_background_block{
					width: 55%;
					height: 100%;
					background:url(../content/kit/background_1.svg) 0% 0%/auto 100% no-repeat;
					@media(max-width:992px){
					width: 100%;
					height: 30%;
					background:url(../content/kit/background_1.svg)  0 0 space;
					}
				}
				.kit_text_block_1{
					display: flex;
					width: 45%;
					height: 80%;
					flex-direction: column;
					justify-content: space-around;	
					@media(max-width: 992px){
						width: 100%;
						height: 70%;
						align-items:center;
						text-align: center;
					}
					@media(max-width:540px){
						height: 60%;
					}
					.kit_layouts-txt{
						margin-left: 5%;
						@media(max-width:992px){
							margin-left: 0%;
						}
						p{
							color: #1476FF;
							text-transform: uppercase;
							font-size: 1.7vw;
							@media(max-width: 992px){
								font-size: 30px;
								margin-top: 10px;	
							}
							@media(max-width:772px){
								font-size: 30px;
							}
						}
					}
					.kit_layouts-title{	
						margin-left: 5%;
						font-weight: 700;
						font-size: 2vw;
						line-height: 50px;
						@media(max-width:1250px){
							font-size: 2.5vw;
							line-height: 30px;
						}
						@media(max-width: 992px){
							font-size: 30px;	
						}
						@media(max-width:540px){
							font-size: 25px;
						}
					}
					.kit_layouts-subtitle{
						margin-left: 5%;
						color: #6F7182;
						line-height: 26px;
						font-size: 1vw;
						
						@media(max-width:1250px){
							font-size: 1.3vw;
							line-height: 15px;
						}
						@media(max-width: 992px){
							font-size: 15px;
							line-height: 30px;
							height: 20%;	
						}
						@media(max-width:540px){
							font-size: 10px;
							line-height: 25px;
						}
					}
					.kit_button_2{
						background:white;
						height: 17%;
						min-height: 50px;
						width: 40%;
						max-width: 300px ;
						@media(max-width:1250px){
							width: 50%;
						}
						@media(max-width:992px){
							height:10%;
						}
						button{
							background:$blue;
							border-radius:44px;
							border:1px solid #E9EAF3;
							box-shadow: 0px 4px 10px rgba(2, 87, 251, 0.2);
							width: 100%;
							height: 100%;

							p{
								font-size: 24px;
								font-weight: 700;
								color: white;
								@media(max-width:540px){
									font-size: 20px;
								}
							}
						}
					}
				}
			}
			.kit_figma-file{
				display: flex;
				flex-direction: row;
				align-items:center;
				width: 100%;
				margin-top: 3vh;
				border-radius:20px;
				border: 1px solid #E9EAF3;
				box-shadow: 0px 2px 5px rgba(25, 93, 194, 0.07);
				height: 30%;
				justify-content: flex-end;
				overflow: hidden;
				@media(max-width:992px){
					flex-direction: column;
					width: 90%;
					height: 40%;
				}
				@media(max-width:772px){
					width: 98%;
				}
				.kit_text-block_2{
					margin-left: 5%;
					width: 40%;
					height: 90%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					@media(max-width:992px){
						width: 100%;
						height: 70%;	
						text-align: center;
						align-items:center;
						margin-left: 0%;
						margin-top: 10px;
					}
					.kit_figma-block{
						display: flex;
						flex-direction: row;
						justify-content: center;
						border:1px solid #E9EAF3;
						box-shadow: 0px 2px 10px rgba(25, 93, 194, 0.07);
						border-radius:30px;
						height: 14%;
						width: 60%;
						min-width: 300px;
						align-items:center;
						@media(max-width:1350px){
							width: 90%;
						}
						@media(max-width:992px){
							width: 60%;					
						}

						p{
							font-weight: 700;
							font-size: 20px;
							height: 30%;
						}
						img{
							height: 80%;
							margin-right: 10%;
						}
					}
					.kit_figma-title{
						font-weight: 700;
						font-size: 32px;
						line-height: 50px;
						@media(max-width: 850px){
							font-size: 24px;
							line-height: 20px;
						}
					}
					.kit_figma-subtitle{
						color: #6F7182;
						font-size: 15px;
						width: 80%;
						@media(max-width: 850px){
							font-size: 13px;
							line-height: 20px;
						}
					}
					.kit_button_2{
						background:white;
						height: 20%;
						min-height: 50px;
						width: 100%;
						max-width: 200px ;
						button{
							background:$blue;
							border-radius:44px;
							border:1px solid #E9EAF3;
							box-shadow: 0px 4px 10px rgba(2, 87, 251, 0.2);
							width: 100%;
							height: 80%;
							p{
								font-size: 16px;
								font-weight: 700;
								color: white;
							}
						}
					}
				}
				.kit_figma_background{
					width: 55%;
					height: 100%;
					overflow: hidden;
					display: flex;
					justify-content: flex-end;
					align-items:flex-end;
					@media(max-width:992px){
						width: 100%;
						height: 30%;	
						justify-content: center;					
					}

					img{
						overflow: hidden;
						height: 100%;
					}
				}
			}
		}
	}
}